@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap");
* {
  margin: 0%;
  padding: 0%;
}

main {
  text-align: center;
}

.imgDos {
  width: 150px;
  height: 150px;
  box-shadow: 2px 2px 10px black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.imgDos:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.servicioClass {
  padding-top: 25px;
  padding-bottom: 25px;
}

.fondoImagen {
  background-image: url("../imagenes/banner-tres.png");
}

.DivContenedor {
  position: relative;
}
.DivContenedor a {
  text-decoration: none;
}

body {
  background-color: #EEE7DF;
}

.redesSociales {
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
}
.redesSociales h4 {
  text-transform: uppercase;
  color: white;
}

.imgTres {
  width: 50px;
  height: 50px;
}

.logosRedes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 35px;
}

.serviciosSection {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  width: 850px;
  height: 300px;
}
.serviciosSection img {
  width: 400px;
  height: 300px;
}
.serviciosSection p {
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.pUno {
  margin-top: 45px;
}

.pDos {
  margin-top: 15px;
}

.pTres {
  margin-top: 70px;
}

.pCuatro {
  margin-top: 75px;
}

.mainservicios {
  margin: 5px 20px 20px 5px;
  margin-top: 20px;
}

main {
  text-align: center;
}

header {
  background-color: #B0988E;
}
header .logo {
  width: 50px;
  height: 50px;
}
header h1 {
  color: #4D8581;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
header .colorLink {
  text-decoration: none;
  color: #ABDED7;
  font-weight: bold;
}

footer {
  width: 100%;
  background-color: #4D8581;
  margin: 0px;
  padding: 20px;
  border: 4px black;
}
footer a {
  text-decoration: none;
  color: #ABDED7;
  font-weight: bold;
}

iframe {
  width: 500px;
  height: 300px;
  padding: 20px;
}

.logoJuanaNos {
  width: 200px;
  height: 150px;
  margin-top: 65px;
}

.contenedorNosotros {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 760px) {
  .cuadroContenedor {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 30px;
  }
  iframe {
    width: 250px;
    height: 250px;
    padding-top: 10px;
  }
  .contenedorNosotros {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 30px;
  }
  .contenedorNosotros .logoJuanaNos {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .logosRedes {
    margin-right: 5px;
    margin-left: 5px;
  }
  .logosRedes h5 {
    display: none;
  }
  .serviciosSection {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    width: 280px;
    height: 150px;
  }
  .serviciosSection img {
    width: 120px;
    height: 100px;
    margin-top: 25px;
  }
  .serviciosSection h3 {
    font-size: 1rem;
  }
  .serviciosSection p {
    font-size: 0.5rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  .pUno {
    margin-top: 35px;
  }
  .pDos {
    margin-top: 30px;
  }
  .pTres {
    margin-top: 40px;
  }
  .pCuatro {
    margin-top: 30px;
  }
  .breveInfo {
    margin: 5px 5px 5px 5px;
  }
  .spanNone {
    display: none;
  }
  body {
    width: 100vw;
  }
}
h2 {
  color: black;
  text-transform: uppercase;
}

form {
  margin: auto;
  width: 50%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.cuadroContenedor {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  padding-bottom: 25px;
  flex-direction: row;
  flex-wrap: wrap;
}

.botton {
  color: black;
  background-color: green;
}

p .sub {
  background-color: #4D8581;
}
p .col {
  color: #4D8581;
}

.breveInfo {
  text-align: center;
  margin: 20px 20px 20px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.breveInfo h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.breveInfo p {
  font-size: 1rem;
  margin-bottom: 50px;
}
.breveInfo a {
  margin-top: 35px;
  font-size: 1.5rem;
  color: white;
  background-color: #B0988E;
  text-decoration: none;
  text-transform: lowercase;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.botonpedido {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.botonpedido a {
  font-size: 1.5rem;
  color: white;
  background-color: #B0988E;
  text-decoration: none;
  text-transform: lowercase;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

/*# sourceMappingURL=estilo.css.map */
