

@import url('https://fonts.googleapis.com/css2? familia= Oswald:peso@300 &family= Roboto:wght@300 & display=swap');
main{
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2? familia= Libre+Baskerville &familia= Oswald:peso@300 &family= Roboto:wght@300 & display=swap');

@import url('https://fonts.googleapis.com/css2? familia= Libre+Baskerville &familia= Miriam+Libre &familia= Oswald:peso@300 &family= Roboto:wght@300 & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Miriam+Libre&family=Oswald:wght@300&family=Rhodium+Libre&family=Roboto:wght@300&display=swap');

h2 {
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-family: 'Oswald', sans-serif;
}

h4 {
    font-family: 'Oswald', sans-serif;
}

h5 {
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Rhodium Libre', serif;
}
a{
    font-family:'Roboto', sans-serif ;
}

input{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}