* {
    margin: 0%;
    padding: 0%;
}

main {
	text-align: center;
}
.imgDos{
    width: 120px;
    height: 120px;
}
.servicioClass{
    padding-top: 25px;
    padding-bottom: 25px;
}

.fondoImagen{
    background-image: url("../imagenes/backround-image.png");
}

