@media (max-width:760px){
    .cuadroContenedor{
        display: flex;
        justify-items: center;
        justify-content: space-between;
        padding: 30px;
    }
    
    iframe{
        width: 250px;
        height: 250px;
        padding: 10px;
    }
    .contenedorNosotros{
        display: flex;
        justify-items: center;
        justify-content: space-between;
        flex-direction: column;

    }

    .logosRedes{
        margin-right: 5px;
        margin-left: 5px;
        h5{
            display: none;
        }
    }

  
}