
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap');

@import "header" ;
@import "footer" ;

h2{
    color: black;
    text-transform: uppercase;
}

* {
    margin: 0%;
    padding: 0%;
}