@import "generales", "variables", "fuentes", "header", "footer", "mapas", "mediasquery";



h2 {
    color: black;
    text-transform: uppercase;
}



form {
    margin: auto;
    width: 50%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.cuadroContenedor {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    padding-bottom: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    img{
        height: 300px;
    }
    div{
        margin-top: 20px;
    }
    
}

.botton {
    color: white;
    background-color: $background-color_2;
}



p {
    .sub{
        background-color: $background-color_2;
    }
    .col{
        color: $color_1;
    }
   
}

.breveInfo {
    text-align: center;
    margin: 20px 20px 20px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    h4{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
    p{
        font-size: 1rem;
        margin-bottom: 50px;
    }

    a {
        margin-top: 35px;
        font-size: 1.5rem;
        color: white;
        background-color: $background-color_1 ;
        text-decoration: none;
        text-transform: lowercase;
        
        border-radius: 10px;
        
        padding: 10px 10px 10px 10px;


    }


}

.botonpedido{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    a{
        font-size: 1.5rem;
        color: white;
        background-color: $background-color_1 ;
        text-decoration: none;
        text-transform: lowercase;
        
        border-radius: 10px;
        
        padding: 10px 10px 10px 10px;
        
    }
    
}
body{
    overflow-x: hidden;
}